{
    "env": {
        "production": false,
        "database_url": "",
        "webhook_api_key": "some-secure-string"
    },
    "dag_network": {
        "id": "ceres",
        "be_url": "https://api-be.exchanges.constellationnetwork.io",
        "lb_url": "http://lb.exchanges.constellationnetwork.io:9000"
    },
    "telegram": {
        "bot_token": "<bot_id>:<bot_token>"
    }
}
